# ======================
# Node / Frontend
# ======================
node_modules/
.next/
dist/
.env.local
.env

# ======================
# Spring Boot / Backend
# ======================
target/
*.log

# ======================
# Mobile
# ======================
build/
.gradle/
.idea/

# ======================
# OS
# ======================
Thumbs.db
.DS_Store